Pragma foreign_keys=false;
Begin Transaction;
Drop Table If Exists [core_condition];
CREATE TABLE "core_condition" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(50) NOT NULL, "date_created" datetime NOT NULL, "date_modified" datetime NULL);
Drop Table If Exists [core_insurance_provider];
Drop Table If Exists [core_license];
CREATE TABLE "core_license" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(50) NOT NULL, "date_created" datetime NOT NULL, "date_modified" datetime NULL);
Drop Table If Exists [core_location];
CREATE TABLE "core_location" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(50) NOT NULL, "date_created" datetime NOT NULL, "date_modified" datetime NULL);
Insert  Into [core_location] ([id],[name],[date_created],[date_modified]) Values("1","East Bay","12/30/1899",NULL);
Insert  Into [core_location] ([id],[name],[date_created],[date_modified]) Values("2","North Bay","12/30/1899",NULL);
Insert  Into [core_location] ([id],[name],[date_created],[date_modified]) Values("3","San Francisco","12/30/1899",NULL);
Drop Table If Exists [core_medical_school];
CREATE TABLE "core_medical_school" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(50) NOT NULL, "date_created" datetime NOT NULL, "date_modified" datetime NULL);
Insert  Into [core_medical_school] ([id],[name],[date_created],[date_modified]) Values("1","Academy for Five Element Acupuncture","12/30/1899",NULL);
Insert  Into [core_medical_school] ([id],[name],[date_created],[date_modified]) Values("2","Academy of Chinese Culture and Health Sciences","12/30/1899",NULL);
Insert  Into [core_medical_school] ([id],[name],[date_created],[date_modified]) Values("3","Academy of Chinese Culture and Health Sciences","12/30/1899",NULL);
Drop Table If Exists [core_neighborhood];
CREATE TABLE "core_neighborhood" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(50) NOT NULL, "date_created" datetime NOT NULL, "date_modified" datetime NULL);
Insert  Into [core_neighborhood] ([id],[name],[date_created],[date_modified]) Values("1","Alameda","12/30/1899",NULL);
Insert  Into [core_neighborhood] ([id],[name],[date_created],[date_modified]) Values("2","Alamo Square, Hayes Valley","12/30/1899",NULL);
Insert  Into [core_neighborhood] ([id],[name],[date_created],[date_modified]) Values("3","Albany","12/30/1899",NULL);
Drop Table If Exists [core_practice];
CREATE TABLE "core_practice" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(50) NOT NULL, "website" varchar(200) NULL, "address" varchar(200) NULL, "yelp_link" varchar(300) NULL, "phone" varchar(20) NULL, "email" varchar(60) NULL, "hours" varchar(15) NULL, "date_created" datetime NOT NULL, "date_modified" datetime NULL, "yelp_id" varchar(100) NULL);
Insert  Into [core_practice] ([id],[name],[website],[address],[yelp_link],[phone],[email],[hours],[date_created],[date_modified],[yelp_id]) Values("1","Aaron Yu Acupuncture Clinic","https://www.yelp.com/biz/aaron-yu-acupuncture-clinic-san-francisco","626 Grant Ave, San Francisco, CA 94108","https://www.yelp.com/biz/aaron-yu-acupuncture-clinic-san-francisco","(415) 218-1586",NULL,NULL,"12/30/1899",NULL,"4LconOLZV5BPfxKBEsoZFg");
Insert  Into [core_practice] ([id],[name],[website],[address],[yelp_link],[phone],[email],[hours],[date_created],[date_modified],[yelp_id]) Values("2","Abundant Heaven Traditional Chinese Medicine","https://www.abundant-heaven.com/","621 East Campbell Avenue, Santa Clara County Campbell, CA","https://www.yelp.com/biz/abundant-heaven-traditional-chinese-medicine-campbell","(408) 628-1805","Info@abundant-heaven.com",NULL,"12/30/1899",NULL,"sM5CDnhkFUYLdZMXwsY4xg");
Insert  Into [core_practice] ([id],[name],[website],[address],[yelp_link],[phone],[email],[hours],[date_created],[date_modified],[yelp_id]) Values("3","Acupuncture & Health Center","http://www.acupuncturehealth.org/","400 29th St, Suite 317 , Oakland, CA 94609","https://www.yelp.com/biz/acupuncture-and-health-center-oakland-3","510.612.3150","info@acupuncturehealth.org",NULL,"12/30/1899",NULL,"No6JW-UaCB-PoBEztlebPw");
Drop Table If Exists [core_practitioner];
CREATE TABLE "core_practitioner" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "first_name" varchar(30) NOT NULL, "last_name" varchar(30) NOT NULL, "gender" varchar(1) NOT NULL, "link_to_bio" text NULL, "short_bio" text NULL, "first_visit_price" varchar(30) NOT NULL, "follow_up_visit_price" varchar(30) NOT NULL, "prices_reflect_community_acupuncture" bool NOT NULL, "accepts_insurance" bool NOT NULL, "email" varchar(60) NULL, "personal_yelp_link" varchar(200) NULL, "license_date" date NULL, "awards" text NULL, "group_affiliations" text NULL, "date_created" datetime NOT NULL, "date_modified" datetime NULL, "photo_saved" varchar(100) NULL, "all_specialties" text NULL);
Insert  Into [core_practitioner] ([id],[first_name],[last_name],[gender],[link_to_bio],[short_bio],[first_visit_price],[follow_up_visit_price],[prices_reflect_community_acupuncture],[accepts_insurance],[email],[personal_yelp_link],[license_date],[awards],[group_affiliations],[date_created],[date_modified],[photo_saved],[all_specialties]) Values("24","Anita","Lang-Bakar","F","https://www.driftwoodacu.com/copy-of-about","Anita Lang-Bakar is a California State Board Licensed Acupuncturist and a nationally certified Diplomate in Oriental Medicine by the National Certification Commission in Acupuncture and Oriental Medicine (NCCAOM). Anita was born and raised in France as well as in Morocco and Germany. She obtained her Master of Science degree in Traditional Chinese Medicine from the American College of Traditional Chinese Medicine (ACTCM) in San Francisco. She worked on Wall Street and in finance for 20 years and is the proud mother of twin girls.","Does not list","Does not list",NULL,"Yes","anita@driftwoodacu.com",NULL,"12/30/1899",NULL,NULL,"12/30/1899",NULL,"null.jpg","Pain management, working with Athletes, stress/anxiety and insomnia, neurological diseases (Parkinsons, Bell's Palsy, MS) as well as internal medicine.");
Insert  Into [core_practitioner] ([id],[first_name],[last_name],[gender],[link_to_bio],[short_bio],[first_visit_price],[follow_up_visit_price],[prices_reflect_community_acupuncture],[accepts_insurance],[email],[personal_yelp_link],[license_date],[awards],[group_affiliations],[date_created],[date_modified],[photo_saved],[all_specialties]) Values("25","Ann Marie","Deas","F","http://lokahiacupuncture.com/care/ann-marie-deas/","Ann Marie has coordinated nationally-funded epidemiological research studies, is published in several national research journals, and has been a guest speaker at several national health conferences. Ann Marie has worked and trained in the health field for 20 years. She holds a Master’s Degree in Traditional Chinese Medicine, from Five Branches University and is certified as a Diplomate in Acupuncture (Dipl.Ac.) by the National Certification Commission for Acupuncture and Oriental Medicine (NCCAOM). When not in the clinic, Ann Marie can be found exploring the abundance of nature in the Bay Area.","Does not list","Does not list",NULL,"Yes","frontdesk@lokahiacupuncture.com","https://en.yelp.com.ph/biz/ann-marie-deas-lokahi-acupuncture-san-jose","12/30/1899",NULL,NULL,"12/30/1899",NULL,"Ann Marie_Deas.jpg","Hormonal imbalances, peri-menopause, menopause, weight gain, and Adrenal Fatigue");
Insert  Into [core_practitioner] ([id],[first_name],[last_name],[gender],[link_to_bio],[short_bio],[first_visit_price],[follow_up_visit_price],[prices_reflect_community_acupuncture],[accepts_insurance],[email],[personal_yelp_link],[license_date],[awards],[group_affiliations],[date_created],[date_modified],[photo_saved],[all_specialties]) Values("26","Anna","Ritner","F","http://anchoracu.com/about-us/","Anna Ritner is a California state-licensed herbalist and acupuncturist. She received her Master of Science in Traditional Chinese Medicine from ACTCM in San Francisco. Anna’s greatest passion is supporting and educating women in order to help them to feel powerful and creative in their bodies. As part of her professional training, Anna completed a clinical acupuncture certificate through the Zhejiang Chinese Medical University in Hangzhou, China, where she received advanced training in Women’s health and pain management.","$260","$130",NULL,"Doesn't Say","anna@anchoracu.com",NULL,"12/30/1899",NULL,NULL,"12/30/1899",NULL,"Anna_Ritner.png","Women’s health – including fertility medicine, hormone balancing, and pre-natal & postpartum care");
Insert  Into [core_practitioner] ([id],[first_name],[last_name],[gender],[link_to_bio],[short_bio],[first_visit_price],[follow_up_visit_price],[prices_reflect_community_acupuncture],[accepts_insurance],[email],[personal_yelp_link],[license_date],[awards],[group_affiliations],[date_created],[date_modified],[photo_saved],[all_specialties]) Values("253","Yun Hee","Hong","F","http://www.reviveacupuncture.com/team/","Yun Hee Hong is a Board Certified Licensed Acupuncturist and Herbalist in the state of California.  She received her Master’s degree in Traditional Chinese Medicine from the Acupuncture and Integrative Medicine College (AIMC) in Berkeley, CA, with specialization in Japanese acupuncture techniques.  Prior to her studies at AIMC, she graduated from San Francisco State University, where she obtained a Bachelors degree in Microbiology, with a minor in Chemistry. She loves her job as an acupuncturist and strives to give patients the best possible care.","Does not list","Does not list",NULL,"Yes","info@reviveacupuncture.com",NULL,"12/30/1899",NULL,NULL,"12/30/1899",NULL,"Yun Hee_Hong.png","Drug and Smoking addictions, Women's Health, Fertility and Pregnancy Support, Neck and Shoulder Pain, Back Pain and Sciatica, Anxiety, Insomia, Headaches and Digestive Problems.");
Insert  Into [core_practitioner] ([id],[first_name],[last_name],[gender],[link_to_bio],[short_bio],[first_visit_price],[follow_up_visit_price],[prices_reflect_community_acupuncture],[accepts_insurance],[email],[personal_yelp_link],[license_date],[awards],[group_affiliations],[date_created],[date_modified],[photo_saved],[all_specialties]) Values("254","Yvette Dellanini","Ward","F","http://sagewellnesscenter.org/about-sage/our-team/#yvette","Yvette is a licensed acupuncturist, herbalist and primary health care physician. She began her work in 1991 and continued her studies at San Francisco State University where she received her Bachelors Degree in Psychology and Holistic Health Studies in 1995. Yvette’s specialty is in Womens Health care. Yvette has hosted many workshops and classes in the education of Chinese Medicine, Natural Hormone Balancing and Stress Reduction.","$185","$95",NULL,"Yes","info@sagewellnesscenter.org",NULL,"12/30/1899",NULL,NULL,"12/30/1899",NULL,"null.jpg","Fertility, Pegnancy Support, Postnatal Care, Menopause and Gnecological Imbalances");
Drop Table If Exists [core_practitioner_type];
CREATE TABLE "core_practitioner_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(50) NOT NULL, "date_created" datetime NOT NULL, "date_modified" datetime NULL);
Drop Table If Exists [core_professional_affiliation];
CREATE TABLE "core_professional_affiliation" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(50) NOT NULL, "date_created" datetime NOT NULL, "date_modified" datetime NULL);
Drop Table If Exists [core_service];
CREATE TABLE "core_service" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(50) NOT NULL, "date_created" datetime NOT NULL, "date_modified" datetime NULL);
Drop Table If Exists [core_specialty];
CREATE TABLE "core_specialty" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(50) NOT NULL, "date_created" datetime NOT NULL, "date_modified" datetime NULL);
Insert  Into [core_specialty] ([id],[name],[date_created],[date_modified]) Values("1","Addiction","12/30/1899",NULL);
Insert  Into [core_specialty] ([id],[name],[date_created],[date_modified]) Values("2","Allergies","12/30/1899",NULL);
Insert  Into [core_specialty] ([id],[name],[date_created],[date_modified]) Values("3","Autoimmune","12/30/1899",NULL);
Insert  Into [core_specialty] ([id],[name],[date_created],[date_modified]) Values("4","Cancer Support","12/30/1899",NULL);
Insert  Into [core_specialty] ([id],[name],[date_created],[date_modified]) Values("5","Chronic Illness","12/30/1899",NULL);
Insert  Into [core_specialty] ([id],[name],[date_created],[date_modified]) Values("6","Dermatological","12/30/1899",NULL);
Insert  Into [core_specialty] ([id],[name],[date_created],[date_modified]) Values("7","Endocrine","12/30/1899",NULL);
Insert  Into [core_specialty] ([id],[name],[date_created],[date_modified]) Values("8","Fatigue","12/30/1899",NULL);
Insert  Into [core_specialty] ([id],[name],[date_created],[date_modified]) Values("9","Fertility","12/30/1899",NULL);
Insert  Into [core_specialty] ([id],[name],[date_created],[date_modified]) Values("10","Gastrointestinal & Digestive","12/30/1899",NULL);
Insert  Into [core_specialty] ([id],[name],[date_created],[date_modified]) Values("11","General Acupuncture","12/30/1899",NULL);
Insert  Into [core_specialty] ([id],[name],[date_created],[date_modified]) Values("12","Injury","12/30/1899",NULL);
Insert  Into [core_specialty] ([id],[name],[date_created],[date_modified]) Values("13","Lyme Disease","12/30/1899",NULL);
Insert  Into [core_specialty] ([id],[name],[date_created],[date_modified]) Values("14","Men's Health","12/30/1899",NULL);
Insert  Into [core_specialty] ([id],[name],[date_created],[date_modified]) Values("15","Mental Health","12/30/1899",NULL);
Insert  Into [core_specialty] ([id],[name],[date_created],[date_modified]) Values("16","Neurological","12/30/1899",NULL);
Insert  Into [core_specialty] ([id],[name],[date_created],[date_modified]) Values("17","Orthopedics","12/30/1899",NULL);
Drop Table If Exists [core_testmodel];
CREATE TABLE "core_testmodel" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "n" varchar(1) NOT NULL);
Drop Table If Exists [core_title];
CREATE TABLE "core_title" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(50) NOT NULL, "date_created" datetime NOT NULL, "date_modified" datetime NULL);
Insert  Into [core_title] ([id],[name],[date_created],[date_modified]) Values("1","BCSORM","12/30/1899",NULL);
Insert  Into [core_title] ([id],[name],[date_created],[date_modified]) Values("2","C.H.","12/30/1899",NULL);
Insert  Into [core_title] ([id],[name],[date_created],[date_modified]) Values("3","C.M.D. (China)","12/30/1899",NULL);
Drop Table If Exists [core_undergraduate_school];
CREATE TABLE "core_undergraduate_school" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(50) NOT NULL, "date_created" datetime NOT NULL, "date_modified" datetime NULL);
Insert  Into [core_undergraduate_school] ([id],[name],[date_created],[date_modified]) Values("1","Acupuncture and Integrative Medicine College, Berk","12/30/1899",NULL);
Insert  Into [core_undergraduate_school] ([id],[name],[date_created],[date_modified]) Values("2","American Liberty University / Doctorate in Philoso","12/30/1899",NULL);
Insert  Into [core_undergraduate_school] ([id],[name],[date_created],[date_modified]) Values("3","an Francisco State University / Bachelor of Scienc","12/30/1899",NULL);
Drop Table If Exists [django_migrations];
CREATE TABLE "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
Insert  Into [django_migrations] ([id],[app],[name],[applied]) Values("1","core","0001_initial","12/30/1899");
Insert  Into [django_migrations] ([id],[app],[name],[applied]) Values("2","core","0002_auto_20180601_1117","12/30/1899");
Insert  Into [django_migrations] ([id],[app],[name],[applied]) Values("3","core","0003_remove_practice_single_practitioner_location","12/30/1899");
Drop Table If Exists [core_condition_specialties];
CREATE TABLE "core_condition_specialties" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "condition_id" integer NOT NULL REFERENCES "core_condition" ("id") DEFERRABLE INITIALLY DEFERRED, "specialty_id" integer NOT NULL REFERENCES "core_specialty" ("id") DEFERRABLE INITIALLY DEFERRED);
Drop Table If Exists [core_insurance_provider_practices];
CREATE TABLE "core_insurance_provider_practices" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "insurance_provider_id" integer NOT NULL REFERENCES "core_insurance_provider" ("id") DEFERRABLE INITIALLY DEFERRED, "practice_id" integer NOT NULL REFERENCES "core_practice" ("id") DEFERRABLE INITIALLY DEFERRED);
Drop Table If Exists [core_insurance_provider_practitioners];
CREATE TABLE "core_insurance_provider_practitioners" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "insurance_provider_id" integer NOT NULL REFERENCES "core_insurance_provider" ("id") DEFERRABLE INITIALLY DEFERRED, "practitioner_id" integer NOT NULL REFERENCES "core_practitioner" ("id") DEFERRABLE INITIALLY DEFERRED);
Drop Table If Exists [core_license_practitioners];
CREATE TABLE "core_license_practitioners" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "license_id" integer NOT NULL REFERENCES "core_license" ("id") DEFERRABLE INITIALLY DEFERRED, "practitioner_id" integer NOT NULL REFERENCES "core_practitioner" ("id") DEFERRABLE INITIALLY DEFERRED);
Drop Table If Exists [core_location_neighborhoods];
CREATE TABLE "core_location_neighborhoods" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "location_id" integer NOT NULL REFERENCES "core_location" ("id") DEFERRABLE INITIALLY DEFERRED, "neighborhood_id" integer NOT NULL REFERENCES "core_neighborhood" ("id") DEFERRABLE INITIALLY DEFERRED);
Insert  Into [core_location_neighborhoods] ([id],[location_id],[neighborhood_id]) Values("1","1","1");
Insert  Into [core_location_neighborhoods] ([id],[location_id],[neighborhood_id]) Values("2","3","2");
Insert  Into [core_location_neighborhoods] ([id],[location_id],[neighborhood_id]) Values("3","1","3");
Drop Table If Exists [core_medical_school_practitioners];
CREATE TABLE "core_medical_school_practitioners" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "medical_school_id" integer NOT NULL REFERENCES "core_medical_school" ("id") DEFERRABLE INITIALLY DEFERRED, "practitioner_id" integer NOT NULL REFERENCES "core_practitioner" ("id") DEFERRABLE INITIALLY DEFERRED);
Insert  Into [core_medical_school_practitioners] ([id],[medical_school_id],[practitioner_id]) Values("1","4","2");
Insert  Into [core_medical_school_practitioners] ([id],[medical_school_id],[practitioner_id]) Values("2","9","3");
Insert  Into [core_medical_school_practitioners] ([id],[medical_school_id],[practitioner_id]) Values("3","9","5");
Drop Table If Exists [core_neighborhood_locations];
CREATE TABLE "core_neighborhood_locations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "neighborhood_id" integer NOT NULL REFERENCES "core_neighborhood" ("id") DEFERRABLE INITIALLY DEFERRED, "location_id" integer NOT NULL REFERENCES "core_location" ("id") DEFERRABLE INITIALLY DEFERRED);
Drop Table If Exists [core_practice_bay_area_locations];
CREATE TABLE "core_practice_bay_area_locations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "practice_id" integer NOT NULL REFERENCES "core_practice" ("id") DEFERRABLE INITIALLY DEFERRED, "location_id" integer NOT NULL REFERENCES "core_location" ("id") DEFERRABLE INITIALLY DEFERRED);
Drop Table If Exists [core_practice_insurance_providers];
CREATE TABLE "core_practice_insurance_providers" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "practice_id" integer NOT NULL REFERENCES "core_practice" ("id") DEFERRABLE INITIALLY DEFERRED, "insurance_provider_id" integer NOT NULL REFERENCES "core_insurance_provider" ("id") DEFERRABLE INITIALLY DEFERRED);
Drop Table If Exists [core_practice_neighborhoods];
CREATE TABLE "core_practice_neighborhoods" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "practice_id" integer NOT NULL REFERENCES "core_practice" ("id") DEFERRABLE INITIALLY DEFERRED, "neighborhood_id" integer NOT NULL REFERENCES "core_neighborhood" ("id") DEFERRABLE INITIALLY DEFERRED);
Insert  Into [core_practice_neighborhoods] ([id],[practice_id],[neighborhood_id]) Values("1","1","11");
Insert  Into [core_practice_neighborhoods] ([id],[practice_id],[neighborhood_id]) Values("2","2","8");
Insert  Into [core_practice_neighborhoods] ([id],[practice_id],[neighborhood_id]) Values("3","3","46");
Drop Table If Exists [core_practice_practitioners];
CREATE TABLE "core_practice_practitioners" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "practice_id" integer NOT NULL REFERENCES "core_practice" ("id") DEFERRABLE INITIALLY DEFERRED, "practitioner_id" integer NOT NULL REFERENCES "core_practitioner" ("id") DEFERRABLE INITIALLY DEFERRED);
Insert  Into [core_practice_practitioners] ([id],[practice_id],[practitioner_id]) Values("1","1","1");
Insert  Into [core_practice_practitioners] ([id],[practice_id],[practitioner_id]) Values("2","2","125");
Insert  Into [core_practice_practitioners] ([id],[practice_id],[practitioner_id]) Values("3","2","184");
Drop Table If Exists [core_practice_services];
CREATE TABLE "core_practice_services" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "practice_id" integer NOT NULL REFERENCES "core_practice" ("id") DEFERRABLE INITIALLY DEFERRED, "service_id" integer NOT NULL REFERENCES "core_service" ("id") DEFERRABLE INITIALLY DEFERRED);
Drop Table If Exists [core_practitioner_acupuncture_schools];
CREATE TABLE "core_practitioner_acupuncture_schools" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "practitioner_id" integer NOT NULL REFERENCES "core_practitioner" ("id") DEFERRABLE INITIALLY DEFERRED, "medical_school_id" integer NOT NULL REFERENCES "core_medical_school" ("id") DEFERRABLE INITIALLY DEFERRED);
Drop Table If Exists [core_practitioner_insurance_providers];
CREATE TABLE "core_practitioner_insurance_providers" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "practitioner_id" integer NOT NULL REFERENCES "core_practitioner" ("id") DEFERRABLE INITIALLY DEFERRED, "insurance_provider_id" integer NOT NULL REFERENCES "core_insurance_provider" ("id") DEFERRABLE INITIALLY DEFERRED);
Drop Table If Exists [core_practitioner_licenses];
CREATE TABLE "core_practitioner_licenses" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "practitioner_id" integer NOT NULL REFERENCES "core_practitioner" ("id") DEFERRABLE INITIALLY DEFERRED, "license_id" integer NOT NULL REFERENCES "core_license" ("id") DEFERRABLE INITIALLY DEFERRED);
Drop Table If Exists [core_practitioner_professional_affiliations];
CREATE TABLE "core_practitioner_professional_affiliations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "practitioner_id" integer NOT NULL REFERENCES "core_practitioner" ("id") DEFERRABLE INITIALLY DEFERRED, "professional_affiliation_id" integer NOT NULL REFERENCES "core_professional_affiliation" ("id") DEFERRABLE INITIALLY DEFERRED);
Drop Table If Exists [core_practitioner_specialties];
CREATE TABLE "core_practitioner_specialties" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "practitioner_id" integer NOT NULL REFERENCES "core_practitioner" ("id") DEFERRABLE INITIALLY DEFERRED, "specialty_id" integer NOT NULL REFERENCES "core_specialty" ("id") DEFERRABLE INITIALLY DEFERRED);
Insert  Into [core_practitioner_specialties] ([id],[practitioner_id],[specialty_id]) Values("1","1","25");
Insert  Into [core_practitioner_specialties] ([id],[practitioner_id],[specialty_id]) Values("2","1","18");
Insert  Into [core_practitioner_specialties] ([id],[practitioner_id],[specialty_id]) Values("3","1","12");
Drop Table If Exists [core_practitioner_titles];
CREATE TABLE "core_practitioner_titles" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "practitioner_id" integer NOT NULL REFERENCES "core_practitioner" ("id") DEFERRABLE INITIALLY DEFERRED, "title_id" integer NOT NULL REFERENCES "core_title" ("id") DEFERRABLE INITIALLY DEFERRED);
Insert  Into [core_practitioner_titles] ([id],[practitioner_id],[title_id]) Values("1","1","12");
Insert  Into [core_practitioner_titles] ([id],[practitioner_id],[title_id]) Values("2","2","12");
Insert  Into [core_practitioner_titles] ([id],[practitioner_id],[title_id]) Values("3","2","4");
Drop Table If Exists [core_practitioner_type_practitioners];
CREATE TABLE "core_practitioner_type_practitioners" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "practitioner_type_id" integer NOT NULL REFERENCES "core_practitioner_type" ("id") DEFERRABLE INITIALLY DEFERRED, "practitioner_id" integer NOT NULL REFERENCES "core_practitioner" ("id") DEFERRABLE INITIALLY DEFERRED);
Drop Table If Exists [core_practitioner_undergraduate_schools];
CREATE TABLE "core_practitioner_undergraduate_schools" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "practitioner_id" integer NOT NULL REFERENCES "core_practitioner" ("id") DEFERRABLE INITIALLY DEFERRED, "undergraduate_school_id" integer NOT NULL REFERENCES "core_undergraduate_school" ("id") DEFERRABLE INITIALLY DEFERRED);
Drop Table If Exists [core_professional_affiliation_practitioners];
CREATE TABLE "core_professional_affiliation_practitioners" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "professional_affiliation_id" integer NOT NULL REFERENCES "core_professional_affiliation" ("id") DEFERRABLE INITIALLY DEFERRED, "practitioner_id" integer NOT NULL REFERENCES "core_practitioner" ("id") DEFERRABLE INITIALLY DEFERRED);
Drop Table If Exists [core_service_practices];
CREATE TABLE "core_service_practices" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "service_id" integer NOT NULL REFERENCES "core_service" ("id") DEFERRABLE INITIALLY DEFERRED, "practice_id" integer NOT NULL REFERENCES "core_practice" ("id") DEFERRABLE INITIALLY DEFERRED);
Drop Table If Exists [core_specialty_conditions];
CREATE TABLE "core_specialty_conditions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "specialty_id" integer NOT NULL REFERENCES "core_specialty" ("id") DEFERRABLE INITIALLY DEFERRED, "condition_id" integer NOT NULL REFERENCES "core_condition" ("id") DEFERRABLE INITIALLY DEFERRED);
Drop Table If Exists [core_specialty_practitioners];
CREATE TABLE "core_specialty_practitioners" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "specialty_id" integer NOT NULL REFERENCES "core_specialty" ("id") DEFERRABLE INITIALLY DEFERRED, "practitioner_id" integer NOT NULL REFERENCES "core_practitioner" ("id") DEFERRABLE INITIALLY DEFERRED);
Insert  Into [core_specialty_practitioners] ([id],[specialty_id],[practitioner_id]) Values("1","25","1");
Insert  Into [core_specialty_practitioners] ([id],[specialty_id],[practitioner_id]) Values("2","18","1");
Insert  Into [core_specialty_practitioners] ([id],[specialty_id],[practitioner_id]) Values("3","12","1");
Drop Table If Exists [core_title_practitioners];
CREATE TABLE "core_title_practitioners" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "title_id" integer NOT NULL REFERENCES "core_title" ("id") DEFERRABLE INITIALLY DEFERRED, "practitioner_id" integer NOT NULL REFERENCES "core_practitioner" ("id") DEFERRABLE INITIALLY DEFERRED);
Insert  Into [core_title_practitioners] ([id],[title_id],[practitioner_id]) Values("1","12","1");
Insert  Into [core_title_practitioners] ([id],[title_id],[practitioner_id]) Values("2","12","2");
Insert  Into [core_title_practitioners] ([id],[title_id],[practitioner_id]) Values("3","4","2");
Drop Table If Exists [core_undergraduate_school_practitioners];
CREATE TABLE "core_undergraduate_school_practitioners" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "undergraduate_school_id" integer NOT NULL REFERENCES "core_undergraduate_school" ("id") DEFERRABLE INITIALLY DEFERRED, "practitioner_id" integer NOT NULL REFERENCES "core_practitioner" ("id") DEFERRABLE INITIALLY DEFERRED);
Insert  Into [core_undergraduate_school_practitioners] ([id],[undergraduate_school_id],[practitioner_id]) Values("1","61","6");
Insert  Into [core_undergraduate_school_practitioners] ([id],[undergraduate_school_id],[practitioner_id]) Values("2","13","7");
Insert  Into [core_undergraduate_school_practitioners] ([id],[undergraduate_school_id],[practitioner_id]) Values("3","25","8");
Drop Index  If Exists [core_condition_specialties_condition_id_dc312b42];
CREATE INDEX "core_condition_specialties_condition_id_dc312b42" ON "core_condition_specialties" ("condition_id");
Drop Index  If Exists [core_condition_specialties_condition_id_specialty_id_f0f3fa0c_uniq];
CREATE UNIQUE INDEX core_condition_specialties_condition_id_specialty_id_f0f3fa0c_uniq ON "core_condition_specialties" ("condition_id", "specialty_id");
Drop Index  If Exists [core_condition_specialties_specialty_id_c16e2fe7];
CREATE INDEX "core_condition_specialties_specialty_id_c16e2fe7" ON "core_condition_specialties" ("specialty_id");
Drop Index  If Exists [core_insurance_provider_practices_insurance_provider_id_e4c80ec0];
CREATE INDEX "core_insurance_provider_practices_insurance_provider_id_e4c80ec0" ON "core_insurance_provider_practices" ("insurance_provider_id");
Drop Index  If Exists [core_insurance_provider_practices_insurance_provider_id_practice_id_b9361e73_uniq];
CREATE UNIQUE INDEX core_insurance_provider_practices_insurance_provider_id_practice_id_b9361e73_uniq ON "core_insurance_provider_practices" ("insurance_provider_id", "practice_id");
Drop Index  If Exists [core_insurance_provider_practices_practice_id_8608e8cb];
CREATE INDEX "core_insurance_provider_practices_practice_id_8608e8cb" ON "core_insurance_provider_practices" ("practice_id");
Drop Index  If Exists [core_insurance_provider_practitioners_insurance_provider_id_8ba5aca6];
CREATE INDEX "core_insurance_provider_practitioners_insurance_provider_id_8ba5aca6" ON "core_insurance_provider_practitioners" ("insurance_provider_id");
Drop Index  If Exists [core_insurance_provider_practitioners_insurance_provider_id_practitioner_id_b038c005_uniq];
CREATE UNIQUE INDEX core_insurance_provider_practitioners_insurance_provider_id_practitioner_id_b038c005_uniq ON "core_insurance_provider_practitioners" ("insurance_provider_id", "practitioner_id");
Drop Index  If Exists [core_insurance_provider_practitioners_practitioner_id_f821acb5];
CREATE INDEX "core_insurance_provider_practitioners_practitioner_id_f821acb5" ON "core_insurance_provider_practitioners" ("practitioner_id");
Drop Index  If Exists [core_license_practitioners_license_id_285f6585];
CREATE INDEX "core_license_practitioners_license_id_285f6585" ON "core_license_practitioners" ("license_id");
Drop Index  If Exists [core_license_practitioners_license_id_practitioner_id_a0a7823c_uniq];
CREATE UNIQUE INDEX core_license_practitioners_license_id_practitioner_id_a0a7823c_uniq ON "core_license_practitioners" ("license_id", "practitioner_id");
Drop Index  If Exists [core_license_practitioners_practitioner_id_4f40f6fd];
CREATE INDEX "core_license_practitioners_practitioner_id_4f40f6fd" ON "core_license_practitioners" ("practitioner_id");
Drop Index  If Exists [core_location_neighborhoods_location_id_3ddad50b];
CREATE INDEX "core_location_neighborhoods_location_id_3ddad50b" ON "core_location_neighborhoods" ("location_id");
Drop Index  If Exists [core_location_neighborhoods_location_id_neighborhood_id_6458fe0f_uniq];
CREATE UNIQUE INDEX core_location_neighborhoods_location_id_neighborhood_id_6458fe0f_uniq ON "core_location_neighborhoods" ("location_id", "neighborhood_id");
Drop Index  If Exists [core_location_neighborhoods_neighborhood_id_78469b25];
CREATE INDEX "core_location_neighborhoods_neighborhood_id_78469b25" ON "core_location_neighborhoods" ("neighborhood_id");
Drop Index  If Exists [core_medical_school_practitioners_medical_school_id_d193e05d];
CREATE INDEX "core_medical_school_practitioners_medical_school_id_d193e05d" ON "core_medical_school_practitioners" ("medical_school_id");
Drop Index  If Exists [core_medical_school_practitioners_medical_school_id_practitioner_id_08e89138_uniq];
CREATE UNIQUE INDEX core_medical_school_practitioners_medical_school_id_practitioner_id_08e89138_uniq ON "core_medical_school_practitioners" ("medical_school_id", "practitioner_id");
Drop Index  If Exists [core_medical_school_practitioners_practitioner_id_ab8b0b4c];
CREATE INDEX "core_medical_school_practitioners_practitioner_id_ab8b0b4c" ON "core_medical_school_practitioners" ("practitioner_id");
Drop Index  If Exists [core_neighborhood_locations_location_id_90722f26];
CREATE INDEX "core_neighborhood_locations_location_id_90722f26" ON "core_neighborhood_locations" ("location_id");
Drop Index  If Exists [core_neighborhood_locations_neighborhood_id_2d9ccec4];
CREATE INDEX "core_neighborhood_locations_neighborhood_id_2d9ccec4" ON "core_neighborhood_locations" ("neighborhood_id");
Drop Index  If Exists [core_neighborhood_locations_neighborhood_id_location_id_ca0f576f_uniq];
CREATE UNIQUE INDEX core_neighborhood_locations_neighborhood_id_location_id_ca0f576f_uniq ON "core_neighborhood_locations" ("neighborhood_id", "location_id");
Drop Index  If Exists [core_practice_bay_area_locations_location_id_aadb538c];
CREATE INDEX "core_practice_bay_area_locations_location_id_aadb538c" ON "core_practice_bay_area_locations" ("location_id");
Drop Index  If Exists [core_practice_bay_area_locations_practice_id_939a4ab5];
CREATE INDEX "core_practice_bay_area_locations_practice_id_939a4ab5" ON "core_practice_bay_area_locations" ("practice_id");
Drop Index  If Exists [core_practice_bay_area_locations_practice_id_location_id_8145404e_uniq];
CREATE UNIQUE INDEX core_practice_bay_area_locations_practice_id_location_id_8145404e_uniq ON "core_practice_bay_area_locations" ("practice_id", "location_id");
Drop Index  If Exists [core_practice_insurance_providers_insurance_provider_id_c3b07e89];
CREATE INDEX "core_practice_insurance_providers_insurance_provider_id_c3b07e89" ON "core_practice_insurance_providers" ("insurance_provider_id");
Drop Index  If Exists [core_practice_insurance_providers_practice_id_69850a34];
CREATE INDEX "core_practice_insurance_providers_practice_id_69850a34" ON "core_practice_insurance_providers" ("practice_id");
Drop Index  If Exists [core_practice_insurance_providers_practice_id_insurance_provider_id_3c572e4c_uniq];
CREATE UNIQUE INDEX core_practice_insurance_providers_practice_id_insurance_provider_id_3c572e4c_uniq ON "core_practice_insurance_providers" ("practice_id", "insurance_provider_id");
Drop Index  If Exists [core_practice_neighborhoods_neighborhood_id_074f71d1];
CREATE INDEX "core_practice_neighborhoods_neighborhood_id_074f71d1" ON "core_practice_neighborhoods" ("neighborhood_id");
Drop Index  If Exists [core_practice_neighborhoods_practice_id_e3fd6a5b];
CREATE INDEX "core_practice_neighborhoods_practice_id_e3fd6a5b" ON "core_practice_neighborhoods" ("practice_id");
Drop Index  If Exists [core_practice_neighborhoods_practice_id_neighborhood_id_5068b4c4_uniq];
CREATE UNIQUE INDEX core_practice_neighborhoods_practice_id_neighborhood_id_5068b4c4_uniq ON "core_practice_neighborhoods" ("practice_id", "neighborhood_id");
Drop Index  If Exists [core_practice_practitioners_practice_id_32fba1a8];
CREATE INDEX "core_practice_practitioners_practice_id_32fba1a8" ON "core_practice_practitioners" ("practice_id");
Drop Index  If Exists [core_practice_practitioners_practice_id_practitioner_id_cca04602_uniq];
CREATE UNIQUE INDEX core_practice_practitioners_practice_id_practitioner_id_cca04602_uniq ON "core_practice_practitioners" ("practice_id", "practitioner_id");
Drop Index  If Exists [core_practice_practitioners_practitioner_id_e529762a];
CREATE INDEX "core_practice_practitioners_practitioner_id_e529762a" ON "core_practice_practitioners" ("practitioner_id");
Drop Index  If Exists [core_practice_services_practice_id_7f13d090];
CREATE INDEX "core_practice_services_practice_id_7f13d090" ON "core_practice_services" ("practice_id");
Drop Index  If Exists [core_practice_services_practice_id_service_id_2147f6ae_uniq];
CREATE UNIQUE INDEX core_practice_services_practice_id_service_id_2147f6ae_uniq ON "core_practice_services" ("practice_id", "service_id");
Drop Index  If Exists [core_practice_services_service_id_49e9bf4c];
CREATE INDEX "core_practice_services_service_id_49e9bf4c" ON "core_practice_services" ("service_id");
Drop Index  If Exists [core_practitioner_acupuncture_schools_medical_school_id_6260f7a3];
CREATE INDEX "core_practitioner_acupuncture_schools_medical_school_id_6260f7a3" ON "core_practitioner_acupuncture_schools" ("medical_school_id");
Drop Index  If Exists [core_practitioner_acupuncture_schools_practitioner_id_1d662ebc];
CREATE INDEX "core_practitioner_acupuncture_schools_practitioner_id_1d662ebc" ON "core_practitioner_acupuncture_schools" ("practitioner_id");
Drop Index  If Exists [core_practitioner_acupuncture_schools_practitioner_id_medical_school_id_e72317d2_uniq];
CREATE UNIQUE INDEX core_practitioner_acupuncture_schools_practitioner_id_medical_school_id_e72317d2_uniq ON "core_practitioner_acupuncture_schools" ("practitioner_id", "medical_school_id");
Drop Index  If Exists [core_practitioner_insurance_providers_insurance_provider_id_e0cdd24b];
CREATE INDEX "core_practitioner_insurance_providers_insurance_provider_id_e0cdd24b" ON "core_practitioner_insurance_providers" ("insurance_provider_id");
Drop Index  If Exists [core_practitioner_insurance_providers_practitioner_id_077c219b];
CREATE INDEX "core_practitioner_insurance_providers_practitioner_id_077c219b" ON "core_practitioner_insurance_providers" ("practitioner_id");
Drop Index  If Exists [core_practitioner_insurance_providers_practitioner_id_insurance_provider_id_f021cbfb_uniq];
CREATE UNIQUE INDEX core_practitioner_insurance_providers_practitioner_id_insurance_provider_id_f021cbfb_uniq ON "core_practitioner_insurance_providers" ("practitioner_id", "insurance_provider_id");
Drop Index  If Exists [core_practitioner_licenses_license_id_03959861];
CREATE INDEX "core_practitioner_licenses_license_id_03959861" ON "core_practitioner_licenses" ("license_id");
Drop Index  If Exists [core_practitioner_licenses_practitioner_id_0c00753a];
CREATE INDEX "core_practitioner_licenses_practitioner_id_0c00753a" ON "core_practitioner_licenses" ("practitioner_id");
Drop Index  If Exists [core_practitioner_licenses_practitioner_id_license_id_c122fad9_uniq];
CREATE UNIQUE INDEX core_practitioner_licenses_practitioner_id_license_id_c122fad9_uniq ON "core_practitioner_licenses" ("practitioner_id", "license_id");
Drop Index  If Exists [core_practitioner_professional_affiliations_practitioner_id_27a5c460];
CREATE INDEX "core_practitioner_professional_affiliations_practitioner_id_27a5c460" ON "core_practitioner_professional_affiliations" ("practitioner_id");
Drop Index  If Exists [core_practitioner_professional_affiliations_practitioner_id_professional_affiliation_id_488ed4f3_uniq];
CREATE UNIQUE INDEX core_practitioner_professional_affiliations_practitioner_id_professional_affiliation_id_488ed4f3_uniq ON "core_practitioner_professional_affiliations" ("practitioner_id", "professional_affiliation_id");
Drop Index  If Exists [core_practitioner_professional_affiliations_professional_affiliation_id_440b056d];
CREATE INDEX "core_practitioner_professional_affiliations_professional_affiliation_id_440b056d" ON "core_practitioner_professional_affiliations" ("professional_affiliation_id");
Drop Index  If Exists [core_practitioner_specialties_practitioner_id_84d9cbb0];
CREATE INDEX "core_practitioner_specialties_practitioner_id_84d9cbb0" ON "core_practitioner_specialties" ("practitioner_id");
Drop Index  If Exists [core_practitioner_specialties_practitioner_id_specialty_id_6d272018_uniq];
CREATE UNIQUE INDEX core_practitioner_specialties_practitioner_id_specialty_id_6d272018_uniq ON "core_practitioner_specialties" ("practitioner_id", "specialty_id");
Drop Index  If Exists [core_practitioner_specialties_specialty_id_dee37c30];
CREATE INDEX "core_practitioner_specialties_specialty_id_dee37c30" ON "core_practitioner_specialties" ("specialty_id");
Drop Index  If Exists [core_practitioner_titles_practitioner_id_21772a26];
CREATE INDEX "core_practitioner_titles_practitioner_id_21772a26" ON "core_practitioner_titles" ("practitioner_id");
Drop Index  If Exists [core_practitioner_titles_practitioner_id_title_id_3df9fe10_uniq];
CREATE UNIQUE INDEX core_practitioner_titles_practitioner_id_title_id_3df9fe10_uniq ON "core_practitioner_titles" ("practitioner_id", "title_id");
Drop Index  If Exists [core_practitioner_titles_title_id_c05a63d7];
CREATE INDEX "core_practitioner_titles_title_id_c05a63d7" ON "core_practitioner_titles" ("title_id");
Drop Index  If Exists [core_practitioner_type_practitioners_practitioner_id_39be5748];
CREATE INDEX "core_practitioner_type_practitioners_practitioner_id_39be5748" ON "core_practitioner_type_practitioners" ("practitioner_id");
Drop Index  If Exists [core_practitioner_type_practitioners_practitioner_type_id_076f01af];
CREATE INDEX "core_practitioner_type_practitioners_practitioner_type_id_076f01af" ON "core_practitioner_type_practitioners" ("practitioner_type_id");
Drop Index  If Exists [core_practitioner_type_practitioners_practitioner_type_id_practitioner_id_02e180dc_uniq];
CREATE UNIQUE INDEX core_practitioner_type_practitioners_practitioner_type_id_practitioner_id_02e180dc_uniq ON "core_practitioner_type_practitioners" ("practitioner_type_id", "practitioner_id");
Drop Index  If Exists [core_practitioner_undergraduate_schools_practitioner_id_ea830cea];
CREATE INDEX "core_practitioner_undergraduate_schools_practitioner_id_ea830cea" ON "core_practitioner_undergraduate_schools" ("practitioner_id");
Drop Index  If Exists [core_practitioner_undergraduate_schools_practitioner_id_undergraduate_school_id_d7b34c07_uniq];
CREATE UNIQUE INDEX core_practitioner_undergraduate_schools_practitioner_id_undergraduate_school_id_d7b34c07_uniq ON "core_practitioner_undergraduate_schools" ("practitioner_id", "undergraduate_school_id");
Drop Index  If Exists [core_practitioner_undergraduate_schools_undergraduate_school_id_0f8b39d0];
CREATE INDEX "core_practitioner_undergraduate_schools_undergraduate_school_id_0f8b39d0" ON "core_practitioner_undergraduate_schools" ("undergraduate_school_id");
Drop Index  If Exists [core_professional_affiliation_practitioners_practitioner_id_448c731e];
CREATE INDEX "core_professional_affiliation_practitioners_practitioner_id_448c731e" ON "core_professional_affiliation_practitioners" ("practitioner_id");
Drop Index  If Exists [core_professional_affiliation_practitioners_professional_affiliation_id_df6dc9ff];
CREATE INDEX "core_professional_affiliation_practitioners_professional_affiliation_id_df6dc9ff" ON "core_professional_affiliation_practitioners" ("professional_affiliation_id");
Drop Index  If Exists [core_professional_affiliation_practitioners_professional_affiliation_id_practitioner_id_11233910_uniq];
CREATE UNIQUE INDEX core_professional_affiliation_practitioners_professional_affiliation_id_practitioner_id_11233910_uniq ON "core_professional_affiliation_practitioners" ("professional_affiliation_id", "practitioner_id");
Drop Index  If Exists [core_service_practices_practice_id_f027d461];
CREATE INDEX "core_service_practices_practice_id_f027d461" ON "core_service_practices" ("practice_id");
Drop Index  If Exists [core_service_practices_service_id_45383557];
CREATE INDEX "core_service_practices_service_id_45383557" ON "core_service_practices" ("service_id");
Drop Index  If Exists [core_service_practices_service_id_practice_id_d9cc3ae3_uniq];
CREATE UNIQUE INDEX core_service_practices_service_id_practice_id_d9cc3ae3_uniq ON "core_service_practices" ("service_id", "practice_id");
Drop Index  If Exists [core_specialty_conditions_condition_id_dab503ae];
CREATE INDEX "core_specialty_conditions_condition_id_dab503ae" ON "core_specialty_conditions" ("condition_id");
Drop Index  If Exists [core_specialty_conditions_specialty_id_bd2fb5e0];
CREATE INDEX "core_specialty_conditions_specialty_id_bd2fb5e0" ON "core_specialty_conditions" ("specialty_id");
Drop Index  If Exists [core_specialty_conditions_specialty_id_condition_id_6840eca9_uniq];
CREATE UNIQUE INDEX core_specialty_conditions_specialty_id_condition_id_6840eca9_uniq ON "core_specialty_conditions" ("specialty_id", "condition_id");
Drop Index  If Exists [core_specialty_practitioners_practitioner_id_11590574];
CREATE INDEX "core_specialty_practitioners_practitioner_id_11590574" ON "core_specialty_practitioners" ("practitioner_id");
Drop Index  If Exists [core_specialty_practitioners_specialty_id_e6b53674];
CREATE INDEX "core_specialty_practitioners_specialty_id_e6b53674" ON "core_specialty_practitioners" ("specialty_id");
Drop Index  If Exists [core_specialty_practitioners_specialty_id_practitioner_id_502b5576_uniq];
CREATE UNIQUE INDEX core_specialty_practitioners_specialty_id_practitioner_id_502b5576_uniq ON "core_specialty_practitioners" ("specialty_id", "practitioner_id");
Drop Index  If Exists [core_title_practitioners_practitioner_id_5c9e511f];
CREATE INDEX "core_title_practitioners_practitioner_id_5c9e511f" ON "core_title_practitioners" ("practitioner_id");
Drop Index  If Exists [core_title_practitioners_title_id_3e9371a0];
CREATE INDEX "core_title_practitioners_title_id_3e9371a0" ON "core_title_practitioners" ("title_id");
Drop Index  If Exists [core_title_practitioners_title_id_practitioner_id_cfe6ee90_uniq];
CREATE UNIQUE INDEX core_title_practitioners_title_id_practitioner_id_cfe6ee90_uniq ON "core_title_practitioners" ("title_id", "practitioner_id");
Drop Index  If Exists [core_undergraduate_school_practitioners_practitioner_id_fe804628];
CREATE INDEX "core_undergraduate_school_practitioners_practitioner_id_fe804628" ON "core_undergraduate_school_practitioners" ("practitioner_id");
Drop Index  If Exists [core_undergraduate_school_practitioners_undergraduate_school_id_67424cd5];
CREATE INDEX "core_undergraduate_school_practitioners_undergraduate_school_id_67424cd5" ON "core_undergraduate_school_practitioners" ("undergraduate_school_id");
Drop Index  If Exists [core_undergraduate_school_practitioners_undergraduate_school_id_practitioner_id_5501b7fd_uniq];
CREATE UNIQUE INDEX core_undergraduate_school_practitioners_undergraduate_school_id_practitioner_id_5501b7fd_uniq ON "core_undergraduate_school_practitioners" ("undergraduate_school_id", "practitioner_id");
Commit Transaction;
Pragma foreign_keys=true;
